@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*--------------------------------ハンバーガーメニュー-------------------------------*/
.nav {
  height: 100vh;
  width: 100vw;
  display: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#19074A), to(#642390));
  background: linear-gradient(to top, #19074A, #642390);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.nav-wrap {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-wrap__link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 14px;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-wrap li {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hamburger {
  display: block;
  position: absolute;
  right: 20px;
  width: 30px;
  top: 19px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: 6;
}

.hamburger__line1 {
  display: block;
  margin-bottom: 7px;
  width: 31px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 4px;
}

.hamburger__line2 {
  display: block;
  margin-bottom: 7px;
  width: 31px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 4px;
}

.hamburger__line3 {
  display: block;
  width: 31px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 4px;
}

.line_1 {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.line_2 {
  opacity: 0;
}

.line_3 {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.in {
  display: block;
}

/*----------------------------ハンバーガーメニューここまで-----------------------------------------*/
header {
  background-color: #21054D;
  padding: 21px 15px;
}

.site-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.nav-pc {
  display: none;
}

.main {
  position: relative;
}

.hero-pc {
  display: none;
}

.position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-flexbox__content {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  line-height: 1.5em;
}

.description-flexbox {
  line-height: 1.7em;
  margin-top: 20px;
}

.description-flexbox__content {
  font-size: 16px;
  color: #fff;
}

.contact {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 20px 70px;
  border-radius: 40px;
  margin-top: 50px;
}

.news {
  margin-top: 40px;
  padding: 0 20px;
}

.news__title {
  font-size: 30px;
  font-weight: bold;
  color: #391E88;
  text-align: center;
}

.news__notice {
  margin-top: 5px;
  color: #391E88;
  text-align: center;
  font-size: 13px;
}

.news__lists {
  margin-top: 32px;
}

.news .notice {
  font-size: 11px;
  font-weight: bold;
  padding: 4px 18px;
  background-color: #E8E8E8;
  border-radius: 10px;
  margin-left: 15px;
}

.news .news-flexbox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .content {
  margin-top: 10px;
  line-height: 1.7em;
}

.news time {
  font-size: 15px;
}

.news li:nth-child(2), .news li:nth-child(3) {
  margin-top: 40px;
}

.service {
  margin-top: 80px;
  padding: 0 20px;
}

.service__title {
  font-size: 30px;
  font-weight: bold;
  color: #391E88;
  text-align: center;
}

.service__notice {
  margin-top: 5px;
  color: #391E88;
  text-align: center;
  font-size: 13px;
}

.service .service-flexbox {
  margin-top: 31px;
}

.service .title {
  margin-top: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.service .content {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5em;
}

.service li:nth-child(2), .service li:nth-child(3) {
  margin-top: 40px;
}

.works {
  position: relative;
  text-align: center;
  margin-top: 10%;
  padding-top: 41%;
  padding-bottom: 60px;
}

.works__title {
  font-size: 30px;
  font-weight: bold;
  color: #391E88;
  text-align: center;
}

.works__notice {
  margin-top: 5px;
  color: #391E88;
  text-align: center;
  font-size: 13px;
}

.works .padding-top {
  padding: 46% 0 60px 0;
  background-color: #F0F0F0;
}

.works .content {
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 30px;
}

.works img {
  position: absolute;
  top: 40px;
  left: 5.5%;
  width: 89%;
}

.works button {
  background: -webkit-gradient(linear, right top, left top, from(#19074A), to(#642390));
  background: linear-gradient(to left, #19074A, #642390);
  border: none;
  color: #fff;
  padding: 21px 75px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 40px;
  margin-top: 30px;
}

.company {
  position: relative;
  padding-bottom: 60px;
}

.company__title {
  font-size: 30px;
  font-weight: bold;
  color: #391E88;
  text-align: center;
}

.company__notice {
  margin-top: 5px;
  color: #391E88;
  text-align: center;
  font-size: 13px;
}

.company .block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.company .goal {
  margin-top: 30px;
  font-size: 32px;
  font-weight: bold;
  padding: 0 48px;
  text-align: center;
  line-height: 2.5em;
}

.company .content {
  text-align: center;
  margin: 43px auto 0;
  line-height: 2em;
  font-size: 14px;
  width: 295px;
}

.company .button {
  text-align: center;
}

.company button {
  background: -webkit-gradient(linear, right top, left top, from(#19074A), to(#642390));
  background: linear-gradient(to left, #19074A, #642390);
  border: none;
  color: #fff;
  padding: 21px 75px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 40px;
  margin-top: 30px;
}

.company span {
  border-bottom: 7px solid yellow;
}

.company .background-pc {
  display: none;
}

.recruit__title {
  font-size: 30px;
  font-weight: bold;
  color: #391E88;
  text-align: center;
}

.recruit__notice {
  margin-top: 5px;
  color: #391E88;
  text-align: center;
  font-size: 13px;
}

.recruit .content {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

.recruit .button {
  text-align: center;
}

.recruit .block {
  background-color: #F7F7F7;
  padding-bottom: 50px;
  padding-top: 60px;
}

.recruit button {
  background: -webkit-gradient(linear, right top, left top, from(#19074A), to(#642390));
  background: linear-gradient(to left, #19074A, #642390);
  border: none;
  color: #fff;
  padding: 21px 75px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 40px;
  margin-top: 30px;
}

.contact-form {
  background-color: #F7F7F7;
  padding-bottom: 50px;
  padding-top: 60px;
  margin-top: 80px;
}

.contact-form__title {
  font-size: 30px;
  font-weight: bold;
  color: #391E88;
  text-align: center;
  margin-top: 60px;
}

.contact-form__notice {
  margin-top: 5px;
  color: #391E88;
  text-align: center;
  font-size: 13px;
}

.contact-form .content {
  text-align: center;
  font-size: 14px;
  margin: 30px auto 0;
  width: 296px;
  line-height: 1.5em;
}

.contact-form .button {
  text-align: center;
}

.contact-form button {
  background: -webkit-gradient(linear, right top, left top, from(#19074A), to(#642390));
  background: linear-gradient(to left, #19074A, #642390);
  border: none;
  color: #fff;
  padding: 21px 75px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 40px;
  margin-top: 30px;
}

footer {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #120E19;
}

footer .footer-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer li {
  margin-left: 20px;
  margin-bottom: 20px;
}

footer a {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

footer p {
  font-size: 10px;
  color: #A798B7;
  text-align: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .hero-pc {
    display: block;
  }
  .hero-smart {
    display: none;
  }
  .main-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 25%;
  }
  .main-flexbox__content {
    margin-left: 20px;
  }
  .description-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news {
    padding: 0 66px;
  }
  .service-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 700px;
  }
  .service-flexbox li {
    width: 31%;
  }
  .service-flexbox li:nth-child(2), .service-flexbox li:nth-child(3) {
    margin-top: 0;
  }
  .works {
    margin-top: 80px;
    padding-top: 0;
    background: none;
  }
  .works img {
    top: 80%;
    left: 8%;
    width: 50%;
    z-index: 3;
  }
  .works .padding-top {
    padding: 100px 20px 100px 200px;
    width: 53%;
    position: absolute;
    right: 67px;
    background-color: #f7f7f7;
  }
  .works .content {
    text-align: initial;
  }
  .company {
    margin-top: 530px;
  }
  .company .background-smart {
    display: none;
  }
  .company .background-pc {
    display: block;
  }
  .recruit {
    margin-top: 160px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
  }
  .hamburger {
    display: none;
  }
  .nav-pc {
    display: block;
  }
  .nav-pc li {
    margin-bottom: 0;
  }
  .nav-wrap-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-wrap-pc__link {
    color: #fff;
    margin-left: 25px;
    position: relative;
    display: inline-block;
  }
  .nav-wrap-pc__link::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .nav-wrap-pc__link:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .description-flexbox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: initial;
  }
  .description-flexbox__content {
    font-size: 24px;
  }
  .position-absolute {
    text-align: center;
  }
  .position-absolute .contact {
    font-size: 15px;
  }
  .main-flexbox {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-flexbox__content {
    font-size: 72px;
  }
  .news {
    margin-top: 70px;
    max-width: 994px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .news__title {
    font-size: 36px;
  }
  .news__lists {
    margin-top: 0;
    margin-left: 50px;
  }
  .news .news-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news .news-flexbox1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news .content {
    margin-top: 0;
    margin-left: 20px;
    font-size: 15px;
  }
  .news .notice {
    text-align: center;
    margin-left: 20px;
  }
  .service {
    margin-top: 160px;
  }
  .service .service-title {
    font-size: 36px;
  }
  .service .content {
    font-size: 15px;
    line-height: 1.7em;
  }
  .service .service-flexbox {
    max-width: 1100px;
  }
  .works {
    margin-top: 200px;
  }
  .works .content {
    text-align: center;
    line-height: 1.7em;
  }
  .works .padding-top {
    padding-top: 15%;
    padding-bottom: 9%;
  }
  .works img {
    width: 50%;
    top: 87%;
  }
  .works a {
    display: block;
    padding-bottom: 10%;
  }
  .company {
    margin-top: 650px;
  }
  .company__title {
    font-size: 36px;
  }
  .company .goal {
    font-size: 40px;
  }
  .company .content {
    font-size: 15px;
  }
  .company img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .recruit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recruit__title {
    font-size: 36px;
  }
  .recruit .content {
    font-size: 15px;
  }
  .recruit .block {
    width: 25%;
  }
  .recruit img {
    display: block;
    width: 42%;
  }
  .recruit .order1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .recruit .order2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contact-form {
    padding: 80px 0;
    margin-top: 100px;
  }
  .contact-form__title {
    font-size: 36px;
    margin-top: 0;
  }
  .contact-form .content {
    font-size: 15px;
  }
  footer a {
    font-size: 14px;
  }
}
